<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">
<head>
    <title>T001Validate</title>
</head>
<body>
<div layout:fragment="header">T001Input.html</div>
<div layout:fragment="contents">
    <form th:action="@{/t001}" th:method="post" th:object="${t001Form}" >
        <label th:text="#{output.sample01}"/>
        <div class="container　container-m">
            <div class="row">
                <div class="col-md-12 m-3">
                    <label>text1</label>
                    <input th:field="*{text1}" th:errorclass="border-danger">
                    <div class="text-danger" th:if="${#fields.hasErrors('text1')}" th:errors="*{text1}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-3">
                    <label>text2</label>
                    <input th:field="*{text2}" th:classappend="${#fields.hasErrors('text2')} ? 'border-danger'">
                    <div class="text-danger" th:if="${#fields.hasErrors('text2')}" th:errors="*{text2}"></div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>text1</th>
                    <th>text2</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dept : ${deptList}" th:object="${dept}" class="align-middle">
                    <td th:text="*{id}"></td>
                    <td th:text="*{text1}"></td>
                    <td th:text="*{text2}"></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12 m-3">
                    <button name="send" type="submit">送信</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>